
.container
  .row
    .col-sm-10
      %h1
        =image_tag  "Santa.jpg", class: "img-circle"
        = @user.firstname
        = @user.lastname
      - if current_user.try(:admin?)
        %p
          %strong Admin

  .row
    .col-sm-3
      %ul.list-group
        %li.list-group-item.text-muted Profile
        %li.list-group-item.text-right
          %span.pull-left
            %strong Email
          = @user.email
        %li.list-group-item.text-right
          %span.pull-left
            %strong Reviews
          = @user.reviews.count
        - if current_user.try(:admin?)
          %li.list-group-item.text-right
            %span.pull-left
              %strong Products
            = @user.products.count

      %ul.list-group
        %li.list-group-item.text-muted Additional info
        %li.list-group-item.text-right
          %span.pull-left
            %strong Registered
          = @user.created_at.strftime("%Y-%m-%d")
        %li.list-group-item.text-right
          %span.pull-left
            %strong Last sign in
          = @user.last_sign_in_at.strftime("%Y-%m-%d")

    .col-sm-9
      %table.table.table-striped
        %thead
          %tr
            %th Product
            %th Review
            %th Rating
            %th Date

        %tbody
          - Review.where(user_id: @user.id).last(5).reverse.each do |review|
            %tr
              %td= review.product.title
              %td= review.content
              %td= review.rating
              %td= review.created_at.strftime('%d-%m-%Y')
        %br
